<!--<h1>Hola Mundo</h1>

<p>Eso es un saludo ....</p>

<h1>IEVN-1003</h1>
<app-product-list>
     
</app-product-list>


<div>
  {{title}}
</div>

<div>
  La suma de 2 + 2 es {{2+2}}
</div>

<div>el doble de 3 es {{duplicarNumero(3)}}</div>


<h2>Datos de la pelicula</h2>
<div>El nombre de la Pelicula es: {{pelicula.nombre | uppercase}}</div>
<div>El año de la Pelicula es: {{pelicula.fechaLanzamiento | date: "dd-mm-yy"}}</div>
<div>El precio de la pelicula es: {{pelicula.precio|currency}}</div>-->
<!--<app-operas-bas></app-operas-bas>-->
<!--<app-ejemplo1></app-ejemplo1>-->
<!--<app-cinepolis> 
       
</app-cinepolis>-->
<app-resistencias></app-resistencias>